* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

$main-text-color: #cd5c5c;
$main-text-color-str: #d22c2c;

body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.2rem;
  background: linear-gradient(rgb(222, 217, 147), rgba(232, 134, 23, 0.5));
  z-index: 4;
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: 450px;
  background-image: url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8NGslMjBuYXR1cmV8ZW58MHx8MHx8fDA%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  //filter: brightness(1.3);
  //box-shadow: 0 0 4px white;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  border: solid -3px black;
  //box-shadow: 0 0 3px gray;
  position: fixed;
  top: 0;
  z-index: 4;
  box-shadow: 0 0 3px wheat;
  transition: all 0.5s;
  background: linear-gradient(to bottom, rgba(209, 176, 115, 0.5), white);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    transform: translateY(-50%);
    z-index: 4;
    backdrop-filter: blur(2px);
  }

  .tiger-logo {
    transition: opacity 0.4s;
    user-select: none;
    transform: translateX(50px) translateY(-29px) scale(1.5) scaleX(-1);
    width: 250px;
    z-index: 3;
    filter: brightness(1.2);
  }

  .nav-list {
    display: flex;
    height: 50%;
    margin-top: 0;
    align-self: flex-end;
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 3%;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      border-radius: 5px 5px 0 0;
      overflow: hidden;
      &:hover {
        box-shadow: 0 0 2px #d22c2c;
      }

      a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-weight: bold;
        transition: all 0.3s;
        color: #cd5c5c;
        cursor: pointer;

        span {
          transition: transform 0.3s ease;
        }

        &:hover {
          background-color: rgb(240, 208, 148);

          span {
            transform: translateY(-5px);
            color: #d22c2c;
          }
        }

        &:active {
          .nav-bar {
            display: none;
          }
        }
      }
    }
  }

  /// navbar hover
  &:hover {
    background: linear-gradient(to bottom, rgba(209, 176, 115, 0.8), white);
  }
}

.video-container {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;

  &::after {
    content: "";
    position: absolute;
    bottom: -60px;
    left: 50%;
    width: 95%;
    transform: translate(-50%, -50%);
    background-color: rgba(52, 52, 52, 0.6);
    filter: blur(5px);
    height: 50px;
  }

  .video {
    width: 75%;
    height: 100%;
  }

  .video-frame {
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% + 50px);
    transform: translateY(-25px);
    z-index: 3;
  }
  .video-loading-screen {
    width: 75%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    z-index: 1;
    .circle {
      width: 100px;
      height: 100px;
      border: solid 3px $main-text-color-str;
      // box-shadow: 0 0 3px $main-text-color;
      border-width: 0 0 3px 0;
      border-radius: 50%;
      background-color: none;
      animation: circleRotation 1s linear 0s infinite forwards;
    }
  }

  .video-loading-screen.hide {
    display: none;
  }
}

.about-tigers {
  .info-and-tables-container {
    padding: 20px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 10px;

    .info-container,
    .tables-container {
      padding: 25px;
      border-radius: 10px;
      box-shadow: 0 0 3px gray;
      position: relative;
      h3 {
        text-align: center;
      }

      .info-icon {
        position: absolute;
        left: 8px;
        top: 8px;
        color: $main-text-color-str;
      }
    }

    .info-container {
      p {
        text-align: justify;
        line-height: 1.8;
      }

      img {
        width: 120px;
        height: 100px;
        float: left;
        margin-right: 15px;
        margin-top: 20px;
        border-radius: 50%;
        box-shadow: 0 0 3px gray;
      }
    }
  }
}

////////
.tables-container {
  .table {
    border-collapse: collapse;
    width: 1fr;
    th {
      color: $main-text-color-str;
    }
    td {
      border: solid 1px rgb(84, 84, 84);
      text-align: center;
      line-height: 1.8;
    }
  }
}

.galery-modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  backdrop-filter: brightness(0);

  .btn-g-exit {
    color: white;
    border: none;
    cursor: pointer;
    background: transparent;
    padding: 20px;
    font-size: 2rem;
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    transition: background-color 0.4s, color 0.4s;
    &:hover {
      background-color: white;
      color: black;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  .show-image-container {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 75%;
    height: 80%;

    .btn {
      cursor: pointer;
      padding: 20px;
      font-size: 2rem;
      height: 20%;
      border-radius: 10px;
      background: none;
      border: none;
      color: white;
      box-shadow: 0 0 5px white;
      transition: background-color 0.3s, color 0.3s, transform 0.1s;
      position: relative;
      width: 80px;

      i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 0 0 3px white;
      }

      &:hover {
        background-color: white;
        color: black;
        i {
          text-shadow: 0 0 3px black;
        }
      }
      &:active {
        transform: scale(0.85);
      }
    }

    .image-container {
      width: 100%;
      height: 100%;
      box-shadow: 0 0 5px white;
      border-radius: 10px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        animation: changeImg 0.6s linear 0s forwards, growImg 0.1s linear 0s forwards;
      }
    }
  }
}

.image-galery-container {
  margin-bottom: 100px;
  .pictures-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 50px;
    flex-wrap: wrap;

    img {
      max-width: 100%;
      max-height: 250px;
      height: 300px;
      width: 400px;
      cursor: pointer;
      border-radius: 10px;
      transition: all 0.4s;
      box-shadow: 0 0 3px gray;

      &:hover {
        z-index: 2;
        transform: scale(1.02);
        box-shadow: 0 0 5px $main-text-color-str;
      }
    }
  }
}

.facts-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .facts-container {
    height: 400px;
    width: 80%;
    .fact {
      padding: 30px;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      transition: all 1s;
      align-content: center;
      user-select: none;

      span {
        transform: scale(0);
        white-space: pre;
        animation: growChar 0.3s linear 0.3s 1 forwards;
        font-size: 1.2rem;
        font-weight: bold;
        color: $main-text-color-str;
        text-shadow: 0 0 3px $main-text-color-str;
      }

      span.hide {
        visibility: hidden;
      }

      span.shrink {
        animation: shrinkChar 1s linear 0s 1 forwards;
      }
    }
  }
}

.play-sound {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  .btn-tiger-roar {
    border: none;
    background: none;
    width: 150px;
    height: 150px;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 2px $main-text-color;
    transition: box-shadow 0.2s ease;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      animation: shakeImg 2s linear 0s infinite;
    }
    &:active {
      transform: scale(0.95);
    }
    &:hover {
      box-shadow: 0 5px 5px $main-text-color-str;
    }
  }
}

.title-info,
.title-pictures,
.title-facts {
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  margin: 0;
  padding: 0;
}

.btn-scroll-up {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 5px;
  border: none;
  background: none;
  color: $main-text-color;
  cursor: pointer;
  bottom: 15px;
  right: 15px;
  animation: arrowJump 2s 0s infinite;
  transform: scale(0);

  i {
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    i {
      transform: scale(2);
      text-shadow: 0px 0px 3px $main-text-color;
      color: $main-text-color-str;
    }
  }
}

.footer-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $main-text-color-str;
  padding: 15px 50px 5px 50px;
  background: linear-gradient(45deg, rgb(222, 217, 147), rgba(232, 134, 23, 0.5));
  box-shadow: 0 0 10px wheat;
  h5 {
    margin: 2px;
    padding: 0;
  }
}

/// Some extras
///
.galery-modal.close {
  display: none;
}

.btn-scroll-up.hide {
  display: none;
}

.nav-bar.hide {
  transform: translateY(-450px);
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: $main-text-color;
}

::-webkit-scrollbar-thumb:hover {
  background: #d22c2c;
}

/// ANIMATIONS

@keyframes growChar {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shrinkChar {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(0) rotate(360deg);
  }
}

@keyframes changeImg {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes growImg {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes circleRotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes arrowJump {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes shakeImg {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/// SCREEN SIZE, RESPONSIVENESS

@media screen and (max-width: 650px), (pointer: none), (pointer: coarse) {
  .nav-bar {
    height: 100px;

    .tiger-logo {
      display: none;
    }

    .nav-list {
      width: 100%;
      height: 100%;
      margin: 0;

      li {
        width: 100%;
        height: 100%;
        border-radius: 0;
      }
    }
  }
}

@media screen and (max-width: 1550px) {
  table {
    font-size: 1rem;
  }
}
