* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.2rem;
  background: linear-gradient(rgb(222, 217, 147), rgba(232, 134, 23, 0.5));
  z-index: 4;
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: 450px;
  background-image: url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8NGslMjBuYXR1cmV8ZW58MHx8MHx8fDA%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  border: solid -3px black;
  position: fixed;
  top: 0;
  z-index: 4;
  box-shadow: 0 0 3px wheat;
  transition: all 0.5s;
  background: linear-gradient(to bottom, rgba(209, 176, 115, 0.5), white);
}
.nav-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  transform: translateY(-50%);
  z-index: 4;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.nav-bar .tiger-logo {
  transition: opacity 0.4s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transform: translateX(50px) translateY(-29px) scale(1.5) scaleX(-1);
  width: 250px;
  z-index: 3;
  filter: brightness(1.2);
}
.nav-bar .nav-list {
  display: flex;
  height: 50%;
  margin-top: 0;
  align-self: flex-end;
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 3%;
}
.nav-bar .nav-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
.nav-bar .nav-list li:hover {
  box-shadow: 0 0 2px #d22c2c;
}
.nav-bar .nav-list li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s;
  color: #cd5c5c;
  cursor: pointer;
}
.nav-bar .nav-list li a span {
  transition: transform 0.3s ease;
}
.nav-bar .nav-list li a:hover {
  background-color: rgb(240, 208, 148);
}
.nav-bar .nav-list li a:hover span {
  transform: translateY(-5px);
  color: #d22c2c;
}
.nav-bar .nav-list li a:active .nav-bar {
  display: none;
}
.nav-bar:hover {
  background: linear-gradient(to bottom, rgba(209, 176, 115, 0.8), white);
}

.video-container {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
}
.video-container::after {
  content: "";
  position: absolute;
  bottom: -60px;
  left: 50%;
  width: 95%;
  transform: translate(-50%, -50%);
  background-color: rgba(52, 52, 52, 0.6);
  filter: blur(5px);
  height: 50px;
}
.video-container .video {
  width: 75%;
  height: 100%;
}
.video-container .video-frame {
  position: absolute;
  width: calc(100% - 40px);
  height: calc(100% + 50px);
  transform: translateY(-25px);
  z-index: 3;
}
.video-container .video-loading-screen {
  width: 75%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  z-index: 1;
}
.video-container .video-loading-screen .circle {
  width: 100px;
  height: 100px;
  border: solid 3px #d22c2c;
  border-width: 0 0 3px 0;
  border-radius: 50%;
  background-color: none;
  animation: circleRotation 1s linear 0s infinite forwards;
}
.video-container .video-loading-screen.hide {
  display: none;
}

.about-tigers .info-and-tables-container {
  padding: 20px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 10px;
}
.about-tigers .info-and-tables-container .info-container,
.about-tigers .info-and-tables-container .tables-container {
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 3px gray;
  position: relative;
}
.about-tigers .info-and-tables-container .info-container h3,
.about-tigers .info-and-tables-container .tables-container h3 {
  text-align: center;
}
.about-tigers .info-and-tables-container .info-container .info-icon,
.about-tigers .info-and-tables-container .tables-container .info-icon {
  position: absolute;
  left: 8px;
  top: 8px;
  color: #d22c2c;
}
.about-tigers .info-and-tables-container .info-container p {
  text-align: justify;
  line-height: 1.8;
}
.about-tigers .info-and-tables-container .info-container img {
  width: 120px;
  height: 100px;
  float: left;
  margin-right: 15px;
  margin-top: 20px;
  border-radius: 50%;
  box-shadow: 0 0 3px gray;
}

.tables-container .table {
  border-collapse: collapse;
  width: 1fr;
}
.tables-container .table th {
  color: #d22c2c;
}
.tables-container .table td {
  border: solid 1px rgb(84, 84, 84);
  text-align: center;
  line-height: 1.8;
}

.galery-modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  -webkit-backdrop-filter: brightness(0);
          backdrop-filter: brightness(0);
}
.galery-modal .btn-g-exit {
  color: white;
  border: none;
  cursor: pointer;
  background: transparent;
  padding: 20px;
  font-size: 2rem;
  position: absolute;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  transition: background-color 0.4s, color 0.4s;
}
.galery-modal .btn-g-exit:hover {
  background-color: white;
  color: black;
}
.galery-modal .btn-g-exit:active {
  transform: scale(0.95);
}
.galery-modal .show-image-container {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 75%;
  height: 80%;
}
.galery-modal .show-image-container .btn {
  cursor: pointer;
  padding: 20px;
  font-size: 2rem;
  height: 20%;
  border-radius: 10px;
  background: none;
  border: none;
  color: white;
  box-shadow: 0 0 5px white;
  transition: background-color 0.3s, color 0.3s, transform 0.1s;
  position: relative;
  width: 80px;
}
.galery-modal .show-image-container .btn i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 3px white;
}
.galery-modal .show-image-container .btn:hover {
  background-color: white;
  color: black;
}
.galery-modal .show-image-container .btn:hover i {
  text-shadow: 0 0 3px black;
}
.galery-modal .show-image-container .btn:active {
  transform: scale(0.85);
}
.galery-modal .show-image-container .image-container {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 5px white;
  border-radius: 10px;
  overflow: hidden;
}
.galery-modal .show-image-container .image-container img {
  width: 100%;
  height: 100%;
  animation: changeImg 0.6s linear 0s forwards, growImg 0.1s linear 0s forwards;
}

.image-galery-container {
  margin-bottom: 100px;
}
.image-galery-container .pictures-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 50px;
  flex-wrap: wrap;
}
.image-galery-container .pictures-container img {
  max-width: 100%;
  max-height: 250px;
  height: 300px;
  width: 400px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.4s;
  box-shadow: 0 0 3px gray;
}
.image-galery-container .pictures-container img:hover {
  z-index: 2;
  transform: scale(1.02);
  box-shadow: 0 0 5px #d22c2c;
}

.facts-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.facts-section .facts-container {
  height: 400px;
  width: 80%;
}
.facts-section .facts-container .fact {
  padding: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: all 1s;
  align-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.facts-section .facts-container .fact span {
  transform: scale(0);
  white-space: pre;
  animation: growChar 0.3s linear 0.3s 1 forwards;
  font-size: 1.2rem;
  font-weight: bold;
  color: #d22c2c;
  text-shadow: 0 0 3px #d22c2c;
}
.facts-section .facts-container .fact span.hide {
  visibility: hidden;
}
.facts-section .facts-container .fact span.shrink {
  animation: shrinkChar 1s linear 0s 1 forwards;
}

.play-sound {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.play-sound .btn-tiger-roar {
  border: none;
  background: none;
  width: 150px;
  height: 150px;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 2px #cd5c5c;
  transition: box-shadow 0.2s ease;
}
.play-sound .btn-tiger-roar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: shakeImg 2s linear 0s infinite;
}
.play-sound .btn-tiger-roar:active {
  transform: scale(0.95);
}
.play-sound .btn-tiger-roar:hover {
  box-shadow: 0 5px 5px #d22c2c;
}

.title-info,
.title-pictures,
.title-facts {
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  margin: 0;
  padding: 0;
}

.btn-scroll-up {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 5px;
  border: none;
  background: none;
  color: #cd5c5c;
  cursor: pointer;
  bottom: 15px;
  right: 15px;
  animation: arrowJump 2s 0s infinite;
  transform: scale(0);
}
.btn-scroll-up i {
  transition: all 0.2s ease-in-out;
}
.btn-scroll-up:hover i {
  transform: scale(2);
  text-shadow: 0px 0px 3px #cd5c5c;
  color: #d22c2c;
}

.footer-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #d22c2c;
  padding: 15px 50px 5px 50px;
  background: linear-gradient(45deg, rgb(222, 217, 147), rgba(232, 134, 23, 0.5));
  box-shadow: 0 0 10px wheat;
}
.footer-container h5 {
  margin: 2px;
  padding: 0;
}

.galery-modal.close {
  display: none;
}

.btn-scroll-up.hide {
  display: none;
}

.nav-bar.hide {
  transform: translateY(-450px);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #cd5c5c;
}

::-webkit-scrollbar-thumb:hover {
  background: #d22c2c;
}

@keyframes growChar {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shrinkChar {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(0) rotate(360deg);
  }
}
@keyframes changeImg {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes growImg {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes circleRotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes arrowJump {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes shakeImg {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media screen and (max-width: 650px), (pointer: none), (pointer: coarse) {
  .nav-bar {
    height: 100px;
  }
  .nav-bar .tiger-logo {
    display: none;
  }
  .nav-bar .nav-list {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .nav-bar .nav-list li {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
@media screen and (max-width: 1550px) {
  table {
    font-size: 1rem;
  }
}/*# sourceMappingURL=css.css.map */